
@font-face {
    font-family: 'Audi';
    src: url('/fonts/AudiType-Normal_4.03.woff2') format('woff2'),
         url('/fonts/AudiType-Normal_4.03.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  } 
  
  @font-face {
    font-family: 'Audi';
    src: url('/fonts/AudiType-Bold_4.03.woff2') format('woff2'),
         url('/fonts/AudiType-Bold_4.03.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Audi';
    src: url('/fonts/AudiType-BoldItalic_4.03.woff2') format('woff2'),
         url('/fonts/AudiType-BoldItalic_4.03.woff') format('woff');
    font-weight: bold;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Audi';
    src: url('/fonts/AudiType-ExtendedBold_4.03.woff2') format('woff2'),
         url('/fonts/AudiType-ExtendedBold_4.03.woff') format('woff');
    font-weight: bold;
    font-stretch: expanded;
  }
  
  @font-face {
    font-family: 'Audi';
    src: url('/fonts/AudiType-ExtendedBoldItalic_4.03.woff2') format('woff2'),
         url('/fonts/AudiType-ExtendedBoldItalic_4.03.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-stretch: expanded;
  }
  
  @font-face {
    font-family: 'Audi';
    src: url('/fonts/AudiType-ExtendedItalic_4.03.woff2') format('woff2'),
         url('/fonts/AudiType-ExtendedItalic_4.03.woff') format('woff');
    font-style: italic;
    font-stretch: expanded;
  }
  
  @font-face {
    font-family: 'Audi';
    src: url('/fonts/AudiType-ExtendedNormal_4.03.woff2') format('woff2'),
         url('/fonts/AudiType-ExtendedNormal_4.03.woff') format('woff');
    font-style: normal;
    font-stretch: expanded;
  }
  
  @font-face {
    font-family: 'Audi';
    src: url('/fonts/AudiType-Italic_4.03.woff2') format('woff2'),
         url('/fonts/AudiType-Italic_4.03.woff') format('woff');
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Audi';
    src: url('/fonts/AudiType-WideBold_4.03.woff2') format('woff2'),
         url('/fonts/AudiType-WideBold_4.03.woff') format('woff');
    font-stretch: wider;
    font-style: bold;
  }
  
  @font-face {
    font-family: 'Audi';
    src: url('/fonts/AudiType-WideLight_4.03.woff2') format('woff2'),
         url('/fonts/AudiType-WideLight_4.03.woff') format('woff');
    font-stretch: wider;
    font-style: light;
  }
  
  @font-face {
    font-family: 'Audi';
    src: url('/fonts/AudiType-WideNormal_4.03.woff2') format('woff2'),
         url('/fonts/AudiType-WideNormal_4.03.woff') format('woff');
    font-stretch: wider;
  }
  