/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import './fonts.css';

.border-radius-transition {
  transition: border-radius 1s ease-in-out;
}
.padding-transition {
  transition: padding 1s ease-in-out;
}
.padding-transition {
  transition: margin 1s ease-in-out;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
}
body, #__next{
  height: 100vh;
}
div{
  color: white !important;
}

html {
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


/* FONTS */

*{font-family: 'Audi';}
